api/__pycache__/__init__.cpython-38.pyc
api/__pycache__/togist.cpython-38.pyc
api/__pycache__/subconverter.cpython-38.pyc
api/__pycache__/admin.cpython-38.pyc
api/__pycache__/default.cpython-38.pyc
api/__pycache__/airport.cpython-38.pyc
Profile/config.yaml
Profile/renameme1.yaml
api/__pycache__/clashapi.cpython-38.pyc
tun2socks.log
api/__pycache__/currentmode.cpython-38.pyc
Profile/save/config.txt
Profile/save/config1.txt
Profile/tapconfig/config.yaml
Profile/tapconfig/renameme1.yaml
api/__pycache__/ini.cpython-38.pyc
api/currentmode.py
Profile/renameme.yaml
Profile/save/renameme.txt
Profile/stc.yaml
Profile/tapconfig/stc-ssr.yaml
Profile/stc-v2.yaml
Profile/stc-ssr.yaml
Profile/save/stcv2.txt
Profile/save/stc-ssr.txt
api/currentmode.py
App/tmp.vbs
App/tmptmp.vbs
Profile/tapconfig/stc-v2.yaml
Profile/save/stc-v2.txt
App/tmp.vbs
api/default.ini
api/currentmode.py
debug.log
Profile/save/config.txt
