api/__pycache__/
Profile/config.yaml
tun2socks.log
Profile/tapconfig/config.yaml
Profile/tapconfig/renameme1.yaml
api/currentmode.py
Profile/renameme.yaml
Profile/save/renameme.txt
Profile/stc.yaml
Profile/tapconfig/stc-ssr.yaml
Profile/stc-v2.yaml
Profile/stc-ssr.yaml
Profile/save/stcv2.txt
Profile/save/stc-ssr.txt
api/currentmode.py
App/tmp.vbs
App/tmptmp.vbs
Profile/tapconfig/stc-v2.yaml
Profile/save/stc-v2.txt
App/tmp.vbs
api/currentmode.py
debug.log
Profile/save/config.txt
Profile/tapconfig/stc.yaml
Profile/save/stc.txt
Python/Lib/
Python/site-packages/__pycache__/
Profile/tunconfig/
Profile/stcv2.yaml
Profile/.cache
Profile/save/
Profile/config_provider.yaml
Profile/ruleset/
Profile/ARK-HK.yaml
log.log
Python/
Python/requirements.txt
api/default.ini
Profile/test.yaml
Profile/test1.yaml
