

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>❤️ STC Rule Generator ️️❤️</title>
    <link href="/static/css/style.min.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>  
    <div class="container">
            <header>
                <h1>🚀 Clash 控制台 🚁</h1>
            </header>
            <!-- Proxy tools -->
        <form method="POST" name = "form1">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="card">
                            <span>{{ message }}</span>
                        </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}  
            <div class="card" >
            <h2> 👌 高级设置 </h2>
            <div style="text-align:center; vertical-align:middel;">
                <input  type="submit" class="card" name= 'submit' value = "更新  geoip""/>
                </br>
                <input  type="submit" class="card" name= 'submit' value = "开启系统代理""/>
                </br>
                <input  type="submit" class="card" name= 'submit' value = "关闭系统代理""/>
                </br>
                <input  type="submit" class="card" name= 'submit' value = "开机    启动""/>
                </br>
                <input  type="submit" class="card" name= 'submit' value = "返回    主页""/>
            </div>
            </div>                        
        </form>  
        <footer>
            <p> &copy;<a href="https://t.me/niconewbeeeapi">API通知频道</a>——<a href="https://t.me/niconewbeeeapi/134"> 打赏支持开发</a>——<a href="https://github.com/lzdnico/subweb"> Web源码</a></p>
        </footer>    
    
    </div>
</body>
</html>
