<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>纯CSS实现Windows 10切换按钮 - IT书包(www.itshubao.com)</title>
<meta name="author" content="yinq整理" />
<meta name="keywords" content="it书包,笔下光年,ui世界" />
<meta name="description" content="www.itshubao.com|www.bixiaguangnian.com|www.uishijie.com" />
<link href="favicon.ico" rel="shortcut icon">
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body>
<div class="about">
  <h1>Windows 10 toggle buttons</h1>
</div>


<section class="toggles">

  <div class="toggle-component">
    <p>Show app notifications</p>
    <label class="toggle">
        <input type="checkbox" onclick="toggle(this,event)"/>
        <div data-off="Off" data-on="On">app-notifition</div>
      </label>
  </div>

  <div class="toggle-component">
    <p>Show notifications on the lock screen</p>
    <label class="toggle">
        <input type="checkbox" onclick="toggle(this,event)"/>
        <div data-off="Off" data-on="On">lock-screen</div>
      </label>
  </div>

</section>

<!--JS记录开关切换状态-->
<div class="toggles-info"></div>
<script src='js/main.js'></script>
</body>
</html>
