

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>❤️ Clash 控制台 ️️❤️</title>
    <link href="/static/css/style.min.css" media="all" rel="stylesheet" type="text/css" />
    <style>
    #nav {
        line-height:0px;
        height:500px;
        width:100px;
        float:left;
        padding:1px;	      
    }
    #section {
        width:500px;
        height:600px;
        float:left;
        padding:30px;	 	 
    }
    #footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:10px; 
    }
    </style>
</head>

<body>  
    <div class="container">
            <header>
                <h1>🚀 Clash 控制台 🚁</h1>
            </header>

            <!-- Proxy tools -->
        <form method="POST" name = "form1">

            <div id="nav"> 
                <input  type="submit" class="card" name= 'submit' value = "启动Clash""/>
                </br>
                <input  type="submit" class="card" name= 'submit' value = "关闭Clash""/>
                </br>
                <input  type="submit" class="card" name= 'submit' value = "查看 日志""/>
                </br>
                <input  type="submit" class="card" name= 'submit' value = "查看 流量"""/>
                </br>
                <input  type="submit" class="card" name= 'submit' value = "配置 文件"""/>
                </br>
                <input  type="submit" class="card" name= 'submit' value = "高级 设置"""/>
              </br>    
                 </br>      
            </div>    
            
            <div id="section">
                <div class="card" >
                    <textarea  name = "left" cols="500" rows="20" id="custom" placeholder="填写订阅地址,或者SS/SSR/VMESS单链接" >{{ sub  }}</textarea>                        
                </div>
            </div>

        </form>  
        </br>
 
    </div>
</body>
</html>